*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* header */

header{
    width: 100%;
    height: 42%;
    position: sticky;
    top: -70%;
}

.header {
    height: 100vh;
}

nav {
    height: 100%;
}

ul li{
    margin-top: 21px;
    margin-right: 50px;
    display: inline-block;
}

li a{
    color: #FFFFFF;
    font-size: 12px;
    font-family: Poppins;
    font-weight: normal;
}

ul li:first-child{
    margin-right: 400px;
    margin-left: 100px;
}

nav img{
    width: 100%;
    height: 100%;
}
nav > img {
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
}

nav, .site_info, .buttons{
    position: absolute;
}

.site_info{
    width: 576px;
    color: white;
    top: 180px;
    left: 100px;
}

h1{
    margin-bottom: 20px;
    font-size: 62px;
    font-family: Poppins;
    font-weight: 800;
}

.site_info p{
    width: 350px;
    font-size: 14px;
    font-family: Poppins;
    font-weight: normal;
}

.buttons{
    right: 140px;
    bottom: 75px;
}

.buttons div > img{
    padding: 15px;
}
.buttons > div{
    height: 51px;
    width: 51px;
    background-color: #FFFFFF;
    display: inline-block;
}

.buttons > div:hover{
    background-color: #5863F8;
}

/* main */

.general_info{
    margin-top: 60px;
    margin-bottom: 60px;
}
.hotel_info{
    width: 550px;
    height: 450px;
    margin-left: 100px;
    display: inline-block;
    vertical-align: middle;
}
main h1{
    width: 80%;
    margin-bottom: 14px;
    text-align: left;
    font-size: 42px;
    font-family: Poppins;
    font-weight: 800;
}

.txt{
    margin-bottom: 14px;
    text-align: left;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
}

.sec_txt{
    font-size: 14px;
    font-family: Poppins;
    font-weight: normal;
}

.full_txt{
    margin-top: 36px;
    margin-left: 10px;
    padding: 15px;
    width: 185px;
    height: 50px;
    font-size: 14px;
    font-family: Poppins;
    font-weight: normal;
    background-color: #5863F8;
}

.full_txt a{
    margin-left: 30px;
    color: white;
}
.full_txt a::after{
    content: "\2192";
    margin-left: 10px;
    color: white;
}

.hotel_info2{
    margin-left: 100px;
    width: 550px;
    height: 450px;
    display: inline-block;
    vertical-align: middle;
}

.hotel_info2:first-child, .hotel_info2:nth-child(2){
    display: inline-block;
    vertical-align: middle;
}

/* footer */

footer{
    width: 100%;
    height: 22%;
    background-color: #121212;
}

footer h1{
    font-size: 24px;
    font-family: Poppins;
    font-weight: bold;
    color: #FFFFFF;
}

footer p{
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    color: #B1B1B1;
}

footer div{
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 100px;
}

footer img{
    padding-right: 10px;
    padding-bottom: 5px;
}

span{
    padding-right: 5px;
    border-right: 3px solid #707070;
}

p a{
    color: #5863F8;
}
